<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821115884271-vjm0nublnu2m4ult46rjsigviils1sr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821115884271-vjm0nublnu2m4ult46rjsigviils1sr5</string>
	<key>API_KEY</key>
	<string>AIzaSyAfz4oMFMkfy6GNs2GbUyMn4IqlqzOvMlo</string>
	<key>GCM_SENDER_ID</key>
	<string>821115884271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapFlutter</string>
	<key>PROJECT_ID</key>
	<string>mapbidan</string>
	<key>STORAGE_BUCKET</key>
	<string>mapbidan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821115884271:ios:fa6f59b1576c1c1189411a</string>
</dict>
</plist>